[Desktop Entry]
Name=Custom Player
GenericName=Music Player
Version=0.3
Exec=/usr/bin/customplayer %U
TryExec=/usr/bin/customplayer
StartupNotify=false
Terminal=false
Type=Application
Icon=customplayer
Comment=CustomPlayer is a player aimed at convenience and configurability, written in Qt 6.
Categories=AudioVideo;Audio;Player;
MimeType=audio/mp3;audio/mpeg;
SingleMainWindow=true

GenericName[af]=Musiekspeler
GenericName[ar]=مشغل الموسيقى
GenericName[be]=Музычны прайгравальнік
GenericName[bg]=Музикален плейър
GenericName[ca]=Reproductor de música
GenericName[cs]=Hudební přehrávač
GenericName[da]=Musikafspiller
GenericName[de]=Musikspieler
GenericName[el]=Πρόγραμμα αναπαραγωγής μουσικής
GenericName[eo]=Muzik-ludilo
GenericName[es_AR]=Reproductor de Música
GenericName[es_CL]=Reproductor de musica
GenericName[es_MX]=Reproductor de Música
GenericName[es]=Reproductor de música
GenericName[et]=Muusikaesitaja
GenericName[eu]=Musika-erreproduzitzailea
GenericName[fa_IR]=پخش کننده موسیقی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur audio
GenericName[gl]=Reprodutor de música
GenericName[hr]=Svirač glazbe
GenericName[hu]=Zenelejátszó
GenericName[id_ID]=Pemutar musik
GenericName[it]=Lettore musicale
GenericName[ja]=音楽プレイヤー
GenericName[ko]=음악 재생기
GenericName[lt]=Muzikos grotuvas
GenericName[lv]=Mūzikas atskaņotājs
GenericName[ms]=Pemain Muzik
GenericName[nl]=Muziekspeler
GenericName[pl]=Odtwarzacz muzyczny
GenericName[pt_BR]=Reprodutor de Música
GenericName[pt_PT]=Reprodutor áudio
GenericName[pt]=Reprodutor de musica
GenericName[ro]=Player de muzică
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Hudobný prehrávač
GenericName[sl]=Glasbeni predvajalnik
GenericName[sq]=Lojtës Muzike
GenericName[sr]=Програм за слушање музике
GenericName[sv]=Musikspelare
GenericName[ta]=இசைப்பான்e
GenericName[tr]=Müzik Çalar
GenericName[uk]=Музичний програвач
GenericName[uz]=Musiqa pleyeri
GenericName[vi]=Trình chơi nhạc
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放器
